<!--
============================================
; Title:  EMS -- LIST EJS
; Author: KARIE FUNK
; Date:   8 SEPT. 2019
; Description: LIST PAGE
;===========================================
 -->

<% include header %>

<% include navbar %>

<h2>Employee Records</h2><br>

<section class='employee-records'>
    <p class="info">Employee information listed below:</p>
</section>
<div class="table">
<div role = 'main' class = 'container'>
    <% if (employees.length) { %>
    <table class='table bg-primary table-striped table-hover'>
        <thead>
        <tr>
            <th class='text-white'> First Name</th>
            <th class='text-white'> Last Name</th>
            <th class='text-white'> E-Mail</th>
            <th class='text-white'> Employee ID</th>
            <th class='text-white'> View Entry </th>
        </tr>
        </thead>
        <tbody>
            <% employees.forEach(function(entry) { %>
                <tr>
                    <td><%= entry.first %></td>
                    <td><%= entry.last %></td>
                    <td><%= entry.email %></td>
                    <td><%= entry.ID %></td>
                    <td><a style='color: white' href='/view/<%= entry.first %>'</a> View Entry Here</a></td>
                </tr>
           <% }) %>
        </tbody>
        </table>
        <% } else { %> There are no entries! <a href = '/new'>Add One!</a>
        <% } %>
    </div>
</div>
</div>

<style>
        h2{
          padding-top:100px;
          text-align: center;
         }
        
        .info{
            text-align: center;
        }
        tbody{
            background-color: darkgray;
            color: white;
      
        }
        thead{
            background-color: grey;
        }
        .table{
            padding-bottom:100px;
        }
</style>

<% include scripts %>
<% include footer %>